
html, body {
	padding: 0px;
	margin: 0px;
	height: 100%;
}
body{
 display:flex;
 flex-direction:column;
 align-items: center;
 justify-content: center;
 height: 100%;
 width: 100%;
 background: deeppink;
}
header {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
main {
	padding:10px;
}
p{
	text-align: center;
}

.foto{
	border-radius:50%;
	width:300px;
}
@media (max-width:800px){
	p {
		font-size:30px;
	}
	h1{ 
		font-size:40px;
	}
@media (max-width:600px){
	body{
		background: blue;
		color:#fff;
	}
}

